.move {
    /* margin-right: 15em; */
    /* text-align: center; */
    overflow-y: auto;
    position: absolute;
    cursor: move;
    /* margin-left: 12em; */
    margin-top: 10vh;
}

.move.bg1 {
    vertical-align: middle;
    width: 660px;
    height: 530px;
    /* top: 40vmin;
    right: 50vmin; */
    position: fixed;
}

.toast {
    max-width: 660px !important;
    /* height: 50%; */
    margin: 0 auto;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2) !important;
}

.toast-header {
    background-color: rgba(255, 200, 200, 0.72) !important;
}

.like-table {
    display: table-cell;
}

.like-table {
    vertical-align: middle;
}

@media only screen and (max-width: 990px) {
    .toast {
        max-width: 440px !important;
        margin: 0 auto;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2) !important;
    }
}